.login{

	height: 100%;
	width: 100%;
	position: absolute;
	left: 0;
	top: 0;
	background: url('../../assets/Home.png') no-repeat ;
	background-size: cover;

	.login-logo {
		width: 200px;
		height: 100px;
		display: block;
		margin: 0 auto 20px;
	}

	.login-container{
		width: 440px;
		height: 400px;
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%,-50%);
		box-shadow: 0 0 50px rgb(0 0 0 /10%);
	}

	.login-checkbox-label {
		color: #1890ff
	}
}